@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5rem;
}
.header-cover{
    padding: 16px;
    border-radius: 15px;
    height: min-content;
    width: min-content;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    position: absolute;
    top: 70px;
    left: 25px;
}
.grid-cover{
    padding: 20px;
    border-radius: 15px;
    height: min-content;
    width: min-content;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    margin-top: 70px;
    position: absolute;
    left: 420px;
}
.container{
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}
.grid-squares{
    border: 1px solid rgb(255, 255, 255);
    background-color: red;
    /* flex: 1 1 10%; */
}
.untouched{
    background-color: red;
}
.touched{
    background-color: black;
}
#slider{
    -webkit-appearance: none;
    border-radius: 50px;
    height: 1px;
    background-color: black;
    margin-bottom: 9px;
    padding: 3px 0px;
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(224, 224, 224);
    border: 3px solid black;
}
.slider-cover{
    padding: 16px;
    border-radius: 15px;
    height: min-content;
    width: min-content;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    position: absolute;
    left: 105px;
    bottom: 260px;
}
#annot{
    text-align: center;
    font-size: 15px;
    padding-bottom: 4px;
    font-weight: bold;
}
#numbers{
    text-align: center;
    padding-top: 4px;
}
ion-icon{
    font-size: 30px;
    position: relative;
    bottom: -8px;
}
.github{
    font-weight: bold;
    position: absolute;
    left: 281px;
    bottom: 411px;
}
button{
    outline: none;
    background-color: rgb(224, 224, 224);
    padding: 16px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: bold;
    border: none;
}
button:active{
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .3);
    font-size: 14px;
}